<div class="container">
  <form [formGroup]="formularioRegistro" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="identifier" class="form-label">Correo electrónico o nombre usuario:</label>
      <input type="text" formControlName="nombre" required placeholder="Nombre de usuario">
      @if(this.formularioRegistro.get('nombre')?.errors?.['required']) {
      <span> *</span>
      }
      @if(this.formularioRegistro.get('nombre')?.errors?.['minlength']) {
      <br>
      <p class="mensaje">(Debe tener como mínimo 3 caracteres)</p>
      }
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Ingrese su contraseña:</label>

      <input type="text" formControlName="mail" placeholder="Email">
      @if(this.formularioRegistro.get('mail')?.errors?.['required']) {
      <span> *</span>
      }
      @if(this.formularioRegistro.get('mail')?.errors?.['email']) {
      <br>
      <p class="mensaje">(El mail no es válido)</p>
      }
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Ingrese su contraseña:</label>
      <input type="password" formControlName="contraseña" placeholder="Contraseña">
      @if(this.formularioRegistro.get('contraseña')?.errors?.['required']) {
      <span> *</span>
      }
      @if(this.formularioRegistro.get('contraseña')?.errors?.['comprobar']) {
      <br>
      <p class="mensaje">(Mínimo 8 caracteres, de los cuales un número y una mayúscula)</p>
      }
    </div>

    <button type="submit" [disabled]="formularioRegistro.invalid">Confirmar</button>
    <button type="reset" (click)="reset()">Borrar</button>

  </form>
  <div class="resultado">{{resultado}}
  </div>
</div>