span {
  color: red;
}

.mensaje {
  font-size: 12px;
  color: red;
}

form {
  background-color: blanchedalmond;
  border-radius: 1px solid #ccc;
  text-align: center;
  margin-top: 10px;
}

.resultado {
  color: green;
  padding-right: 45%;
}