@if (mostrar){
  
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="identifier" class="form-label">Correo electrónico o usuario:</label>
      <input type="text" id="identifier" class="form-control" formControlName="identifier" placeholder="Email o usuario" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Ingrese su contraseña:</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Contraseña" required>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button><!-- class="btn btn-info" -->
  </form>
</div>
  <p>
    ¿No tienes una cuenta? <a routerLink="registro" (click)="ocultar_boton()">Regístrate aquí</a>
  </p>
}
  
  <router-outlet />
  