<h1 class="gradient-text">Kai Shelves</h1>
<div class="menu">
  <a routerLink="">Home</a>
  <a routerLink="/books">Books</a>
  <a routerLink="/lista">Read</a>
</div>
<div>
  <button routerLink="/login">Login</button>
</div>

@if (mostrar) {
<h2>Book catalog</h2>
@for (libro of libros; track libro.titulo) {
<div class="libro-card">
  <h3>{{ libro.titulo }}</h3>

  @defer {
  @for(imagen of imagen; track $index){
  <img src="{{imagen}}.jpg" height="100em">
  }}

  <p><strong>Author:</strong> {{ libro.autor }}</p>
  <button (click)="cambioDetalles(libro)">See details</button>
</div>
}
@empty {
<p>No books available.</p>
}}