<div class="container">
  <h1 class="gradient-text">Kai Shelves</h1>

  <nav class="menu">
    <a routerLink="/" class="nav-link">Home</a>
    <a routerLink="/catalog" class="nav-link">Catalog</a>
    <a routerLink="/lista" class="nav-link active">Read</a>
    @if (datosService.isAuthenticated()) {
    <button class="logout-btn" (click)="datosService.logout()">Logout</button>
    }
  </nav>

  <h2 class="gradient-text" zº>Mis libros leídos</h2>

  @if (loading()) {
  <div class="loading">Cargando lista...</div>
  } @else if (error()) {
  <div class="error-message">
    {{ error() }}
    <button (click)="cargarLista()">Reintentar</button>
  </div>
  } @else {
  @if (libros().length > 0) {
  <div class="books-grid">
    @for (libro of libros(); track libro) {
    <div class="book-card ">
      <div class="book-header">
        <h3 class="book-title">{{ libro.titulo }}</h3>
        <div class="book-rating">
          @for (star of [1,2,3,4,5]; track star) {
          <span class="star" [class.filled]="star <= libro.puntuacion">★</span>
          }

          @if(libroEditando() !== libro.isbn){
          <button class="edit-rating-btn" (click)="libroEditando.set(libro.isbn)">Modificar puntuación</button>
          }

          @if(libroEditando() === libro.isbn){
          <select [(ngModel)]="libro.puntuacion" (change)="guardarPuntuacion(libro)" (blur)="libroEditando.set(null)">
            <option [value]="1">1 ★</option>
            <option [value]="2">2 ★★</option>
            <option [value]="3">3 ★★★</option>
            <option [value]="4">4 ★★★★</option>
            <option [value]="5">5 ★★★★★</option>
          </select>
          }
          @if(libroEditando() === libro.isbn){
          <button class="edit-rating-btn" (click)="libroEditando.set(null)">Cancelar</button>
          }
        </div>
      </div>
      <p class="book-author">{{ libro.autor }}</p>
      <div class="book-meta">
        <span class="read-date">
          📅 {{ libro.fecha_leido | date:'dd/MM/yyyy' }}
        </span>
      </div>
      <button class="delete-read-btn" (click)="eliminarDeLeidos(libro)">Eliminar de leídos</button>
    </div>
    }
  </div>
  } @else {
  <div class="empty-state">
    <p>No tienes libros registrados como leídos.</p>
    <a routerLink="/catalog" class="explore-btn">Explorar catálogo</a>
  </div>
  }
  }
</div>