<h1 class="gradient-text">Kai Shelves</h1>
<div class="menu">
  <a routerLink="">Home</a>
  <a routerLink="/books">Books</a>
  <a routerLink="/lista">Read</a>
</div>
<div>
  <button routerLink="/register">Login</button>
</div>

<h2>Libros leídos</h2>

@if (libros.length > 0) {
  <div>
    @for (libro of libros; track libro) {
      <div class="libro-card">
        <h3>{{ libro.titulo }}</h3>
        <p>Autor: {{ libro.autor }}</p>
        <p>Páginas: {{ libro.paginas }}</p>
        <p>Fecha de inserción: {{ libro.fecha_insercion }}</p>
      </div>
    }
  </div>
} @else {
  <p>No hay libros leídos.</p>
}
