<h1 class="gradient-text">Kai Shelves</h1>
<div class="menu">
  <a routerLink="">Home</a>
  <a routerLink="/books">Books</a>
  <a routerLink="/lista">Read</a>
</div>
<div>
  <button routerLink="login">Login</button>
</div>

<div class="detalles-libro">
  <div class="libro-info">
    <h3>{{ libro?.titulo }}</h3>
    <p><strong>Author:</strong> {{ libro?.autor }}</p>
    <p><strong>Year of publication:</strong> {{ libro?.fecha_publicacion }}</p>
    <p><strong>Editorial:</strong> {{ libro?.editorial }}</p>
    <p><strong>Genre:</strong> {{ libro?.genero }}</p>
    <p><strong>Pages:</strong> {{ libro?.paginas }}</p>
    <img src="open.jpg" height="200em">
  </div>
  <br>
  <button (click)="volver()">Back to list</button>
</div>